{%- extends "bootstrap/base.html" %}

{% import "bootstrap/fixes.html" as fixes %}

{% block title %}Vue Flask{% endblock %}

{% block head %}
    {{super()}}
    {{fixes.ie8()}}
    {% include 'core/header/scripts.html' %}
{%- endblock %}

{% block styles %}
    {{ super() }}
    {% include 'core/header/links.html' %}
{% endblock %}

{% block navbar %}
    {% include 'core/navbar.html' %}
{% endblock %}

{% block content %}
<template id="template-one">
    <div class="row" style="margin-bottom: 2px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% raw %}
            <p style="margin-bottom: 2px">{{ item }}</p>
            {% endraw %}
        </div>
    </div>
</template>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'core/footer/scripts.html' %}
{% endblock %}