{%- extends 'core/base.html' %}
{% set active_page = "index" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Server-side Timestamp</h3>
                </div>
                <div class="panel-body">
                    <div id="app-zero">
                      <span v-bind:ts="ts">
                          <h2>{% raw %}{{ ts }}{% endraw %}</h2>
                      </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{{ super() }}
{% endblock %}
