{%- extends 'core/base.html' %}
{% set active_page = "one" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Page One Example</h3>
                </div>
                <div class="panel-body">
                    <div id="app-one">
                        <div>
                            <one-list v-for="item in one_list" v-bind:item="item"></one-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{{ super() }}
{% endblock %}
