{%- extends 'core/base.html' %}
{% set active_page = "two" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Page Two Example</h3>
                </div>
                <div class="panel-body">
                    <div id="app-two">
                        <ol>
                            <li v-for="item in two_list">
                                {% raw %}{{ item }}{% endraw %}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}
